.modal-title{

	span{
		padding: 10px;
		box-sizing: border-box;;
	}

	hr{
		margin: 5px 0 0 0;
	}

	.subtitle{
		font-size: 14px;
		color: #999;
		font-weight: normal;
	}
}

.modal-body{
	h3{
		margin: 5px 0;
		font-size: 16px;
	}
}